@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
  text-align: center;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  height: 100vh;
}

.grid{
  display:grid;
  height: 100vh;
  grid-template-areas:
    'header header'
    'stocks-container stocks-container'
    'external-stocks-container external-stocks-container'
    'footer footer';
}

.header {
  background-color:rgb(192, 222, 247);
  color:rgb(24, 15, 77);
  margin:0;
  padding:1rem;
  padding-left:3rem;
  letter-spacing:0.1rem;
  grid-area:header;
  font-family:'Poppins', sans-serif;
  height: 3rem;
  display:flex;
  align-items:center;
}

.footer{
  background-color:rgb(192, 222, 247);
  color:rgb(24, 15, 77);
  margin:0;
  padding:2rem;
  letter-spacing:0.1rem;
  grid-area:footer;
  font-family:'Poppins', sans-serif;
  height: 2rem;
  display:flex;
  align-items:center;
}

.my-stocks-container{
  margin:0;
  padding:1rem;
  /* display:flex; */
  width:97%;
  grid-area:stocks-container;
  height: auto;
}

.my-stocks-container-box{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  font-family:'Poppins', sans-serif;
}

.my-stocks-container > h1{
  margin:0;
}

.my-stocks-left{
  flex:40%;
  height:auto;
  border-radius:5px;
  /* margin-right:5px; */
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  overflow-y: scroll;
}

.my-stocks-left > h2{
  margin:0;
}

.my-stocks-right{
  /* border: 2px solid black; */
  border-radius:5px;
  flex:40%;
  
  height:auto;
  /* margin-left:5px; */
  /* padding-top:1rem; */
}

.my-stocks-list > h2{
  font-size:1.2rem;
  text-align:center;
}

.portfolio-title{
  background-color:rgb(192, 222, 247);
  border:1px solid black;
  margin:0;
  padding:1rem;
}

.portfolio-stats{
  display:flex;
  justify-content:space-evenly;
  /* background-color:rgb(239, 241, 241); */
  margin-bottom:1rem;
  border:1px solid black;
  font-size:0.75rem;
}

.amount{
  font-weight:normal;
}
.table > tr > th {
  padding:0.5rem;
}

.table > tr > th{
  background-color:rgb(192, 222, 247);
}

td{
  padding:0.25rem;
  text-align:center;
  
  font-size:0.75rem;
}

tr{
  /* background-color:rgb(239, 241, 241); */
  background-color:white;
}

.red{
  color:red;
}

.green{
  color:green;
}

th, td, table {
  border: 1px solid black;
  border-collapse:collapse;
  margin: 0px;
}

.table > tr:hover{
  background-color:rgb(182, 213, 241);
}

.stock-symbol{
  font-weight:bold;
  color:blue;
}

.stock-symbol:hover{
  cursor:pointer;
}

.my-stock-items-graph{
  padding:0rem;
  width:100%;
}

.my-stock-items-graph > .stock-details{
  padding-left:1rem;
}

.my-stock-items-graph > .stock-details h3, .my-stock-items-graph > .stock-details h4, .my-stock-items-graph > .stock-details p{
  margin:0;
}

.stock-details{
  display:flex;
  justify-content:space-evenly;
}

.info{
  font-weight:normal;
}
 
.buttons{
  display:flex;
  justify-content:center;
  align-content:center;
  width:100%;
  margin:0.2rem;
}

.chart-buttons{
  display:flex;
  justify-content:center;
  align-content:center;
  width:100%;
  margin:0.2rem;
}

.chart-buttons > button{
  padding:0.2rem;
  margin:0.5rem;
  width:50px;
  background-color:rgb(14, 8, 49);
  border-radius:5px;
  color:white;
  margin-top:0.8rem;
  font-size:0.5rem;
}

.chart-buttons > button:hover{
  background-color:rgba(114, 95, 218, 0.329);
  color:black;
  cursor:pointer;
}

.chart-buttons > button:focus{
  background-color:rgba(114, 95, 218, 0.329);
  color:black;
}

.buttons > button{
  padding:0.2rem;
  margin:0.5rem;
  width:60px;
  background-color:rgb(113, 95, 218);
  border-radius:5px;
  color:white;
  margin-top:0.8rem;
}



.buttons > button:hover{
  background-color:rgba(114, 95, 218, 0.329);
  color:black;
  cursor:pointer;
}

.buttons > button:focus{
  background-color:rgba(114, 95, 218, 0.329);
  color:black;
}
.external-stocks-container{
  padding:1rem;
  grid-area: external-stocks-container;
  background-color:rgb(50, 53, 71);
}

.buttons > .delete-confirm{
  padding:0.2rem;
  margin:0.5rem;
  width:60px;
  background-color:rgb(229, 78, 52);
  border-radius:5px;
  color:white;
  margin-top:0.8rem;
}

.buttons > .delete-confirm:hover{
  background-color:rgb(255, 0, 0);
  color:white;
  font-weight:bold;
  cursor:pointer;
  padding:0.2rem;
}

.table-buttons{
  display:flex;
}

.delete {
  padding:0.2rem;
  margin:0.5rem;
  width:60px;
  background-color:rgb(229, 78, 52);
  border-radius:5px;
  color:white;
  margin-top:0.8rem;
}

.delete:hover{
  background-color:rgb(255, 0, 0);
  color:white;
  font-weight:bold;
  cursor:pointer;
  padding:0.2rem;
}

.confirm-delete-container{
  position:absolute;
  background:rgb(36, 80, 210);
  color:white;
  top:100;
  padding:1rem;
  display:flex;
  flex-wrap:wrap;
  width:200px;
  border:2px solid rgb(15, 3, 83);
  border-radius:5px;
}

.stock-notes-container{
  position:absolute;
  background-color:rgb(239, 237, 112);
  width:200px;
  height:200px;
  z-index:1;
  border: 1px solid black;
  border-radius:5px; 
}

.stock-notes-container > h3{
  margin:0;
  text-align:center;
  padding-top:0.5rem;
}

.stock-notes-container > input{
  width:190px;
  height:100px;
  background-color:rgb(239, 237, 112);
  border:none;
  margin: 1rem 0rem 1rem 0rem;
}

.notes-buttons{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}



.search-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.results-container{
  display:flex;
  justify-content:center;
}

.search-title{
  font-family:'Poppins', sans-serif;
  margin-right:1rem;
  color:white;
}

.search-bar{
  padding:0.2rem;
  height:1rem;
  font-family:'Poppins', sans-serif;
}

.search-button{
  padding:0.2rem;
  width:3rem;
  background-color: rgb(129, 129, 138);
  border-radius:5px;
  color:white;
}

.search-button:hover{
  background-color:rgb(203, 203, 216);
  color:black;
}

.news-header{
  margin-top:1rem;
  padding-top:1rem;
  
  
}
.my-stock-news-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:1rem;
  background-color: rgb(192, 222, 247);
}

.stock-news-list{
  padding:1rem;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  
  justify-content:center;
}

.news-item-container{
  width:60%;
  border: 2px solid black;
  margin-bottom:0.5rem;
  border-radius:5px;
}

.news-item-container > p{
  padding: 0rem 1rem 0rem 1rem;
  
}

.news-item-top{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items:center;
  background-color:white;
  padding:0rem 1rem 0rem 1rem;
}

.news-item-top > a{
  flex:60%;
}

.news-item-top a{
  padding-left:2rem;
}